body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #122;
}

.is-dark {
    background-color: #005fb2;
    background-image: linear-gradient(rgba(25, 181, 254, 0.3), rgba(246, 246, 246, 0.6)), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/background.jpg');
    background-position: center center;
}

.nav{
    margin-top: 20px;
}
.nav .container {
    margin-top: -20px;
}

.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 0 30px;
}

.nav-item {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.nav-item .button {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    height: 45px;
}

.promo-img {
    border-radius: 10px;
    border: 10px solid #fff;
}

